<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.mathematicstrainingmode">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".TrainingModeBeginScreen"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseOne"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseOne"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseTwo"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseTwo"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseThree"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseThree"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseFour"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseFour"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseFive"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseFive"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseSix"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseSix"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseSeven"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseSeven"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseEight"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseEight"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseNine"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseNine"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".LevelSelectionExerciseNum.LevelSelectionExerciseTen"
            android:screenOrientation="sensorPortrait">
        </activity>
        <activity android:name=".ExerciseNum.ExerciseTen"
            android:screenOrientation="sensorPortrait">
        </activity>
    </application>
</manifest>